
   /*text align centrerar texten på sidan, margin 10% är hur mycket rum det är mellan texten och sidorna på sidan*/
  p{
    text-align: center ;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
    /*margin top gör så att texten kom nedanför min nav bar på toppen iställe för att gömmas bakom*/
  h1{
    text-align: center;
    margin-top: 100px;
  }
     /*background color och border gjorde så att det blev en röd border bakom med rundade kanter och är solid.*/
  h2{
    color: black;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(151, 22, 22);
    border: 3px rgb(76, 8, 8);
    border-style: solid;
    border-radius: 10px;
    margin-top: 100px;
    text-align: center;
   }
   h3{
    color: rgb(151, 22, 22);
  }
  /* gör font stilen till times new roman*/
  h4{
    margin-bottom: 10px;
    margin-top: 10px;
    font-family:'Times New Roman', Times, serif;
    background-color: white;
    border: 2px solid black;
  }
  li{
    text-align: center ;
  }
  /*ändrar färgen på texten till svart*/
  a{
    color:black;
  }
  /*Gör så att hela min sida har grå backgrund*/
  body{
    background-color: gray;
  }
     /*med position fixed är min navbar alltid vid toppen även när man scrollar.
   z-index 15 gör så att alla andra classer o tag som har lägre z-index försvinner
   bakom vilket gör hemsidan snyggare.*/
  #topnav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(19, 7, 7);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    justify-content: center;
    z-index: 15;
 }
 /*line height gör så att linjerna där texten ska var på är inom 50 px. 
 display:inline:block gjorde jag så att det skulle bli så mycket mellanrum
  bland de olika blocken samtidigt som det inte skulle skapa en ny rad*/
 .nav-link {
  display: inline-block;
  width: 140px;
  height: 20px;
  color: rgb(151, 22, 22);
  border: 2px white;
  text-align: center;    
  line-height: 50px;     
  text-decoration: none;
  z-index: 15;
 }
img{
  height: 70px;
  width: 70px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  width: 450px;
  padding-bottom: 50px; 
  margin-bottom: 100px; 
  background-color: rgb(151, 22, 22);
  margin-top: 10px;
  font-size: 30px;
  font-style: blowbrush  ;
  text-align: center;
  margin-top: 5px;
}
.container-two {
  display: flex;
}
  /*jag använde mig av flex-grow 1 för att göra så att mina 
  items tar upp så mycket plats som det behövs beroende på 
  hur många items det är*/
.item-two {
  flex-grow: 1;
  background-color:rgb(151, 22, 22);
  border: solid 5px black;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
  width: 32%;
  padding-bottom: 5%; 
  margin-bottom: 5%;
  margin-left: 5px;
  margin-right: 5px;
}
.item-two img{
  width: 400px;
  height: 400px;
  margin: auto;
  display: block;
  margin-top: 20px;
  border-radius: 5px;
}
.item-two + .item-two {
  margin-left: 2%;
}
  /*centrerade min text i footer lodrätt*/
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(15, 13, 13);
  color: rgb(151, 22, 22);
  text-align: center;
}
  /*justify-content: center centrerade min footer content horisontelt*/
footer.content{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
footer.content h3{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}
  /*display: flex använde jag så att mina items blev automatiskt samma bredd. 
  flex-direction: column gjorde så att alla items låg på en lodrät slinga på sidan.*/
.documentation{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*height auto gör så att hela div justerar till innehållet*/
.resolutions{
  height: auto;
  margin-bottom: 10px;
  margin-top: 100px;
  background-color: rgb(151, 22, 22);
  width: 70%;
  text-align: center;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10px;
  border: 5px black solid;
}
/*denna class är speciell eftersom det är div 
som är längst ner och behöver ha en annan mängd 
på margin-bottom så man skulle kunna se texten*/
.resolutions-end{
  height: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  background-color: rgb(151, 22, 22);
  width: 70%;
  text-align: center;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10px;
  border: 5px black solid;
}
.photo{
  align-items: center;
  margin-top: 20px;
  width: 300px;
  height: 400px;
  border: solid black 5px;
  border-radius: 5px;
}
  /*position: aboslut gör det möjligt att kunna justera img cart hur
   jag ville vilket var på toppen av hemsidan längst till höger(top 0,right 0)*/
#cart {
  position: absolute;
  top: 0;
  right: 0;
}
  /*när jag använder display:block tar bilden upp all yta som möjligt inom margin vilket gjorde sidan mindre tom*/
.suicide{
  width: fit-content;
  height: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border: solid black 5px;
}
  /*ändrar färg på det som musen går över till en mörkare skuggas*/
a:hover{
  -webkit-filter: brightness(50%);
}
.photo:hover{
  -webkit-filter: brightness(50%);
}
button:hover{
  -webkit-filter: brightness(50%);
}
.button{
  margin-bottom: 2px;
  margin-top: 5px;
  text-align: center;
}
.dropbtn {
  background-color: rgb(76, 8, 8);
  color: white;
  padding: 10px;
  font-size: 12px;
  border: none;
}
  /*position relaive gjorde så att min button placerades jämnte add to cart button*/
.dropdown {
  position: relative;
  display: inline-block;
}
  /*min width gör så att de minsta möjliga bredden blir 16px 
  beroende på hur stort innehållet är justerar den ifall de är större.*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 16px;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}
  /*ändrar bakgrundsfärg på storlekarna när musen är över*/
.dropdown-content a:hover {background-color: white;
}
  /*visar storlekarna när musen rör dropbtn*/
.dropdown:hover .dropdown-content {display: block;
}
  /*ändrar bakgrundsfärgen på dropdown när musen är över*/
.dropdown:hover .dropbtn {background-color:rgb(76, 8, 8);
}